/**********************************/
/*           Spotify-clone        */
/**********************************/

/************ INDEX ***************
            1.Color
            2.Body
            3.Main
            4.Sidebar
            5.Main-content
            6.Music-player
***********************************/

/* 1.color */

:root {
    --primary-color   : black;
    --secondary-color : #121212; 
    --text-color      :  #fff;
    --white-color     : #ffffff;
    --black-color     : #000000;
    --default-font    : "Montserrat", sans-serif;
    --accent-font     : "Montserrat";
    --tertiary-color  : #292828;
}


/*  2.start body styling  */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: var(--white-color);
    overflow: hidden;
}

/* 3.Main styling start*/

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

/* Main styling start*/

/* 4.Sidebar styling start*/

.sidebar {
    background-color: var(--primary-color);
    width: 340px;
    border-radius: 1rem;
    /* 1rem = 16px */

}

/* home & search start */

a {
    text-decoration: none;
    color: var(--text-color);
}

.nav {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

/* home & search end */

/* library start */

.library{
    background-color: var(--secondary-color);
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.option{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.icon{
    font-size: 1.25rem;
    display: flex;
}

.icon i{
    opacity: 0.7;
    margin-right: 1rem;
}

.icon i:hover{
    opacity: 1;
}

.box{
    background-color: var(--tertiary-color);
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.5rem 0.5rem 0;
}

.box-p1{
    font-size: 1rem;
    
}

.box-p2{
    font-size: 0.75rem;
    opacity: 0.75;
}


/* library start */


/* Sidebar styling end */

/* 5.Main-content styling start */

.main-content {
    background-color: var(--secondary-color);
    flex: 1;
    border-radius: 1rem; /* 1rem = 16px */
    overflow: auto;

}

/* Main-content styling end */

/* 6.Music-player styling start */

.music-player {
    background-color: var(--primary-color);
    width: 100%;
    height: 72px;
    bottom: 0;
    position: fixed;
}

/* Music-player styling end */