/**************Content*************/
/*********************************/
/*
                1.body
                2.main
                3.sidebar
                4.main-content
                5.music-player
                6,anchor tag
*/

/* color */
:root




/*  1.start body styling  */
body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

/* 2.Main styling start*/

.main{
    display: flex;
    height: 100vh;
}

/* 3.Main styling start*/

/*Sidebar styling start*/

.sidebar{
    background-color: #121212;
    width: 340px;
    border-radius: 1rem; /* 1rem = 16px */

}

/* Sidebar styling end */

/* 4.Main-content styling start */

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem; /* 1rem = 16px */
    overflow: auto;

}

/* Main-content styling end */

/* 5.Music-player styling start */

.music-player{
    background-color: black;
    width: 100%;
    height: 72px;
    bottom: 0;
    position: fixed;
}

/* Music-player styling end */

/* 6.styling for anchor-tag start */

a{
    text-decoration: none;
    color: #fff;
}

/* styling for anchor-tag end */
