/**********************************/
/*           Spotify-clone        */
/**********************************/

/************ INDEX ***************
            1.Color
            2.Body
            3.Main
            4.Sidebar
            5.Main-content
            6.Music-player
***********************************/

/* 1.color */

:root {
    --primary-color: black;
    --secondary-color: #121212;
    --text-color: #fff;
    --white-color: #ffffff;
    --black-color: #000000;
    --default-font: "Montserrat", sans-serif;
    --accent-font: "Montserrat";
    --tertiary-color: #292828;
}


/*  2.start body styling  */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: var(--white-color);
    overflow: hidden;
}

/* 3.Main styling start*/

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

/* Main styling start*/

/* 4.Sidebar styling start*/

.sidebar {
    background-color: var(--primary-color);
    width: 340px;
    border-radius: 1rem;
    /* 1rem = 16px */
    margin-right: 0.5rem;

}

/* home & search start */

a {
    text-decoration: none;
    color: var(--text-color);
}

.nav {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

/* home & search end */

/* library start */

.library {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.option {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icon {
    font-size: 1.25rem;
    display: flex;
}

.icon i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icon i:hover {
    opacity: 1;
}

.box {
    background-color: var(--tertiary-color);
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 550;

}

.box-p2 {
    font-size: 0.90rem;
    opacity: 0.9;
}

.badge {
    background-color: var(--white-color);
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;

}

.dark-badge {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* library end */


/* Sidebar styling end */

/* 5.Main-content styling start */

.main-content {
    background-color: var(--secondary-color);
    flex: 1;
    border-radius: 1rem;
    /* 1rem = 16px */
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;

}

/* Stiky-nav start */

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 1;
}

.sticky-nav-icon {
    margin-left: 0.75rem;
}

.sticky-nav-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 1rem;
}

@media (max-width: 1000px) {
    .sticky-nav-icon .hide {
        display: none;
    }

    .sticky-nav-option .hide {
        display: none;
    }
}

/* Stiky-nav end */

/* Card styling start */

.card {
    background-color: var(--tertiary-color);
    width: 150px;
    border-radius: 0.5rem;
    padding: 0.70rem;
    margin: 1.5rem;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-size: 1.10rem;
    font-weight: 550;
}

.card-info{
    opacity: 0.8;
    font-size: 0.80rem;
}

/* Card styling end */

/* Main-content styling end */

/* 6.Music-player styling start */

.music-player {
    background-color: var(--primary-color);
    width: 100%;
    height: 72px;
    bottom: 0;
    position: fixed;
}

/* Music-player styling end */